.item {
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: black;
    padding: 2em;
    margin: 2em;
}

.committee_name {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
}